<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Detect Audio</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="view" style="background-image: url('/img/background.jpg'); background-repeat: no-repeat; background-size: auto; background-position: center center; min-height: 830px">
    <div class="container">
        <div class="row align-items-center mt-lg-5">
            <img class="col-md-4 offset-4" src="/img/Logo_XLTN.png" width="400px">
        </div>
        <div class="col-md-6 offset-3 mt-lg-5">
            <a href="/upfile" >
                <button class="btn btn-outline-warning btn-rounded waves-effect col-md-5 ml-lg-5" id="opt_upfile">Upfile</button>
            </a>
            <a href="/record">
                <button class="btn btn-outline-danger btn-rounded waves-effect col-md-5" id="opt_record">Record</button>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>