<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detect Audio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="view" style="background-image: url('/img/background.jpg'); background-repeat: no-repeat; background-size: auto; background-position: center center; min-height: 830px">
        <div class="container">
            <div class="row align-items-center mt-lg-5">
                <img class="col-md-4 offset-4" src="/img/Logo_XLTN.png" width="400px">
            </div>
            <div class="text-center mt-lg-5" style="font-size: larger">
                <strong>Record Audio</strong>
            </div>
            <div class="col-md-4 offset-5 mt-lg-5">
                <a type=“button” class="btn-floating blue btn-lg" id=record ><i class="fas fa-microphone"></i>
                </a>

                <a type=“button” class="btn-floating red btn-lg" id=stopRecord disabled><i class="fas fa-stop"></i>
                </a>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/record.js"></script>
</body>
</html>